<!DOCTYPE html>
<html>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <h1>Edit Page</h1>
        <form action="/nomadsitters/<%=nomadsits.id%>?_method=PUT" method="POST">
    		Title: <input class="editParts" type="text" name="title" value="<%=nomadsits.title%>" /><br>
			Country: <input class="editParts" type="text" name="country" value="<%=nomadsits.country%>" /><br>
            City: <input class="editParts" type="text" name="city" value="<%=nomadsits.city%>" /><br>
            Date: <input class="editParts" type="text" name="date" placeholder="01/01/25 - 02/02/25"/><br>
			Housesit: <input class="editParts" type="checkbox" name="housesit" 
            <% if(nomadsits.housesit === true){ %>
                checked
            <% } %>
            /><br>
            Petsit: <input class="editParts" type="checkbox" name="petsit" 
                <% if(nomadsits.petsit === true){ %>
                    checked
                <% } %>
            /><br><br>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>