<!DOCTYPE html>
<html>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <h1>Find the perfect home away from home</h1>
        <ul>
            <% for(let i = 0; i < nomadsits.length; i++){ %>
                <li class="list">
                    <fieldset style="padding: 20px; margin: auto; width: 250px; line-height: 40px;">
                        <a href="/nomadsitters/<%=nomadsits[i].id %>">
                            <%=nomadsits[i].title; %></a>
                            <!-- <div class="deleteEdit">
                                <form method="POST" action="/nomadsitters/<%= i %>?_method=DELETE">
                                    <input type="submit" value="DELETE"/>
                                </form>
                                <a href="/nomadsitters/<%= i %>/edit">Edit</a>
                            </div> -->
                    </fieldset>
                </li>
            <% } %>
        </ul>
    </body>
    <!-- <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer> -->
</html>