<!DOCTYPE html>
<html>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <h1><%=nomadsits.title%></a></h1>
        <%=nomadsits.country%>, </a><%=nomadsits.city%></a><br>
        <%=nomadsits.date%></a><br>
        
        <nav>
            <a href="/nomadsitters">Back</a>
        </nav>
    </body>
    <!-- <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer> -->
</html>